/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "tap-preferred";

    // tapping_term_ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
       &kp Q        &kp W       &kp F       &kp P        &kp B         &kp J       &kp L       &kp U         &kp Y  &kp SEMICOLON
 &mt LCTRL A  &mt LSHFT R  &mt LGUI S  &mt LALT T        &kp G         &kp M  &mt RALT N  &mt RGUI E  &mt RSHIFT I    &mt RCTRL O
       &kp Z        &kp X       &kp C       &kp D        &kp V         &kp K       &kp H   &kp COMMA       &kp DOT      &kp SLASH
                                        &kp SPACE  &lt 2 ENTER  &lt 1 ESCAPE    &kp BSPC
            >;
        };

        nav {
            bindings = <
 &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
    &kp LCTRL    &kp LSHIFT      &kp LGUI      &kp LALT        &trans        &trans      &kp RALT      &kp RGUI    &kp RSHIFT     &kp RCTRL
       &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans
                                                 &trans        &trans        &trans        &trans
            >;
        };

        symbols {
            bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                         &trans  &trans  &trans  &trans
            >;
        };
    };
};
