/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <100>;
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp ESC>;
            key-positions = <23 26>;
        };

        satisfactory {
            bindings = <&to 6>;
            key-positions = <20 29>;
        };

        mc {
            bindings = <&to 4>;
            key-positions = <0 29>;
        };

        new_combo {
            bindings = <&kp CAPSLOCK>;
            key-positions = <12 17>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
      &kp Q       &kp W         &kp F       &kp P        &kp B        &kp J       &kp L         &kp U       &kp Y  &kp SEMICOLON
&mt LCTRL A  &mt LALT R  &mt LSHIFT S  &mt LGUI T        &kp G        &kp M  &mt LGUI N  &mt RSHIFT E  &mt LALT I    &mt LCTRL O
      &kp Z       &kp X         &kp C       &kp D        &kp V        &kp K       &kp H     &kp COMMA     &kp DOT      &kp SLASH
                                        &lt 3 TAB  &lt 1 SPACE  &lt 2 ENTER    &kp BSPC
            >;
        };

        nav {
            bindings = <
&kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6         &none  &none  &kp DOWN_ARROW  &kp RIGHT_ARROW           &none  &kp LEFT_BRACE   &kp RIGHT_BRACE
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_0  &none           &none         &kp LGUI  &kp LEFT_SHIFT    &kp LEFT_ALT         &kp LCTRL
&kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9         &none  &none    &kp UP_ARROW   &kp LEFT_ARROW           &none   &kp LESS_THAN  &kp GREATER_THAN
                                                 &none  &none           &none            &none
            >;
        };

        symbols {
            bindings = <
          &none   &none             &none  &kp LEFT_PARENTHESIS          &none      &none  &kp RIGHT_PARENTHESIS              &none      &none      &none
&kp EXCLAMATION  &kp AT    &mt LSHFT HASH           &kp PERCENT  &kp AMPERSAND  &kp CARET             &kp DOLLAR     &mt LSHFT STAR  &kp MINUS   &kp PLUS
  &kp BACKSLASH   &none  &kp LEFT_BRACKET        &kp LEFT_BRACE      &kp GRAVE  &kp TILDE        &kp RIGHT_BRACE  &kp RIGHT_BRACKET      &none  &kp EQUAL
                                               &kp SINGLE_QUOTE  &kp SEMICOLON      &none                  &none
            >;
        };

        bluetooth {
            bindings = <
&bt BT_SEL 4  &none  &none  &none  &none  &none       &none       &none  &none  &none
       &none  &none  &none  &none  &none  &none  &bt BT_NXT  &bt BT_CLR  &none  &none
       &none  &none  &none  &none  &none  &none       &none       &none  &none  &none
                            &none  &none  &none       &none
            >;
        };

        Minecraft {
            bindings = <
    &kp Q  &kp F3  &kp LEFT_ALT      &kp E    &kp TAB  &kp PAGE_DOWN            &kp L  &kp KP_MINUS  &kp U  &to 0
&kp LCTRL   &kp A         &kp W      &kp D      &kp T          &kp M            &kp H         &kp V  &kp N  &kp C
&kp LSHFT  &kp F7         &kp S  &kp RCTRL      &kp H    &kp PAGE_UP  &kp KP_MULTIPLY         &kp I  &kp R  &kp O
                                     &mo 5  &kp SPACE          &kp C            &none
            >;
        };

        Minecraft2 {
            bindings = <
&kp NUMBER_4  &kp NUMBER_5  &kp N6    &kp DOT    &none  &none  &none  &none  &none  &none
      &kp N1        &kp N2  &kp N3  &kp COMMA    &none  &none  &none  &none  &none  &none
      &kp N7        &kp N8  &kp N9     &kp F4  &kp ESC  &none  &none  &none  &none  &none
                                        &none    &none  &none  &none
            >;
        };

        Satisfactory {
            bindings = <
   &kp TAB  &kp Q  &kp W      &kp E      &kp B  &none  &none  &none  &none  &to 0
&kp LSHIFT  &kp A  &kp S      &kp D      &kp F  &none  &none  &none  &none  &none
     &kp C  &kp R  &kp V  &kp LCTRL      &kp M  &none  &none  &none  &none  &none
                              &mo 7  &kp SPACE  &none  &none
            >;
        };

        Satisfactory2 {
            bindings = <
&kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6         &kp O    &kp X  &none  &none  &none  &none  &none
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_0    &kp H  &none  &none  &none  &none  &none
&kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9         &kp N  &kp ESC  &none  &none  &none  &none  &none
                                                 &none    &none  &none  &none
            >;
        };
    };
};
